
  span {
    background: url('../slike/leptirljubicasti.png');
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 10s linear;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
      /*filter: hue-rotate(100);*/
    }

    
    
    100% {
      transform: translate(-50%, -3000%);
      opacity: 0;
      /*filter: hue-rotate(200deg);*/
    }
  }



 
